:root {
    --brand-color: #2196F3;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

.logo {
    font-size: 26px;
    line-height: 31px;
    color: #000000;
}

.logo>span {
    color: var(--brand-color);
}